@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-Lime-Green: hsl(163, 72%, 41%);
    --color-Bright-Red: hsl(356, 69%, 56%);
    --color-Facebook: hsl(208, 92%, 53%);
    --color-Twitter: hsl(203, 89%, 53%);
    --color-InstagramFrom: hsl(37, 97%, 70%);
    --color-InstagramTo: hsl(329, 70%, 58%);
    --color-YouTube: hsl(348, 97%, 39%);

        /* DarkThem toggle  */ 
    --color-ToggleDarkFrom: hsl(210, 78%, 56%);
    --color-ToggleTo: hsl(146, 68%, 55%);

        /* LigtTheme toggle */
    --color-Toggle: hsl(230, 22%, 74%);

        /* Color DarkTheme */
    --color-Very-Dark-Blue-BG: hsl(230, 17%, 14%);
    --color-Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
    --color-Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
    --color-Desaturated-Blue-Text: hsl(228, 34%, 66%);
    --color-White-Text: hsl(0, 0%, 100%);
    
    /* Color LIghTheme */
    --color-White-BG: hsl(0, 0%, 100%);
    --color-Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
    --color-Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
    --color-Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
    --color-Very-Dark-Blue-Text: hsl(230, 17%, 14%);

    --font-Inter: 'Inter', sans-serif;
    --text-Base: 14px;

}